<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script src="/static/js/jquery.min.js"></script>
    <link
      href="/static/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />

    <script src="/static/js/bootstrap.min.js"></script>

    <style>
      .mainheading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: rgb(214, 214, 228);
      }
      .logoutbutton {
        font-size: 20px;
        color: red;
        text-decoration: none;
      }

      .mainimages {
        display: flex;
        margin:10px;
        padding:5px;

        justify-content: center;
        background-color: rgb(21, 34, 21);
      }
      .imagesHeadings {
        color: white;
        font-size: 25px;
      }

      .inimages {
        padding: 20px;
        margin:10px;
        display: flex;
        border-style: solid;
        justify-content: center;
      }

      .imagesize {
        width: 50%;
      }

      .buttonbar{
        display:flex;
        justify-content:center;
        gap:10px;
      }

      .selectedbutton{
        border-radius:10px;
        background-color: #0a1e3d;
        color:white;
      }

      .unselectedbutton{
        border-radius:10px;
      }

      .unselectedbutton a{
        text-decoration:none;    
        color:black;    
      }

      .selectedbutton a{
        text-decoration:none;    
        color:white;    
      }
      .unselectedbutton a:hover{
        text-decoration:none; 
        color:white;    
      }

      .buttonbar button:hover {
        background-color: #0a1e3d;
        color:white;

      } 

    </style>

    <title>BHELQEEE Installation Page</title>
    
    {% load static %}
    <link rel="icon" href="{% static 'bhel_logo.ico' %}">


    <body>
      <div class="mainheading">


        <img
          src="{% static 'mainQR/bhel_logo.jpg' %}"
          width="80"
          height="60"
        />

        <div class="buttonbar">
          <button class='unselectedbutton'><a href='{% url "home_page" id=staff_no %}'>System Overview  </a></button>
          <button class='selectedbutton' ><a href='{% url "index_page" id=staff_no %}'>Installation Guide </a></button>
          <button class="unselectedbutton">
            <a href='{% url "live_status" id1=staff_no %}'
              >System Heartbeat Monitor
            </a>
          </button>
        </div>

        <div>
          <span>{{ name }} &nbsp;</span>
          <span class="logoutbutton"
            ><a
              href="{% url 'logout' %}"
              style="color: #ff0000; font-size: 20px; text-decoration: none"
              >Logout</a
            ></span
          >
        </div>
      </div>

      


      <div class="mainimages">
        <span class="imagesHeadings"> Step 1 (Download MySQL community server) </span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/1.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/2.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/3.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/3.5.png' %}" class="imagesize" />
      </div>

      <div class="mainimages">
        <span class="imagesHeadings"> Step 2 (Download C++ Redistributable 2013) </span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/4.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/5.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/6.png' %}" class="imagesize" />
      </div>

      <div class="mainimages">
        <span class="imagesHeadings"> Step 3 (Download C++ Redistributable 2015-2022)</span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/7.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/8.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/9.png' %}" class="imagesize" />
      </div>


      <div class="mainimages">
        <span class="imagesHeadings"> Step 4 (Install all 03 downloaded C++ Redistributables)</span>
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/10.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/10.5.png' %}" class="imagesize" />
      </div>

      <div class="mainimages">
        <span class="imagesHeadings"> Step 5 - Install MySQL server file (For Windows 8 only) </span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/11.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/12.png' %}" class="imagesize" />
      </div>


      <div class="inimages">
        <img src="{% static 'mainQR/13.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/18.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/19.png' %}" class="imagesize" />
      </div>


      <div class="inimages">
        <img src="{% static 'mainQR/20.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/21.png' %}" class="imagesize" />
      </div>



      <div class="mainimages">
        <span class="imagesHeadings"> Step 6 (Install MySQL server file) </span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/22.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/23.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/24.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/25.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/26.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/27.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/28.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/29.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/30.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/31.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/32.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/33.png' %}" class="imagesize" />
      </div>


      <div class="mainimages">
        <span class="imagesHeadings"> Step 7 (Check Network connectivity and ip address) </span>
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/34.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/35.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/36.png' %}" class="imagesize" />
      </div>

      <div class="mainimages">
        <span class="imagesHeadings"> Step 8 - Only For NCR Offices (Oracle Instant Client setup) - The system should be running on Admin Account </span>
      </div>

<div class="inimages">

  <b>Download Oracle instant client .zip file using &nbsp; </b><a href='{% url "download_oracle" %}'>Link</a>
      </div>

      
      <div class="inimages">
        <img src="{% static 'mainQR/o1.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/o2.png' %}" class="imagesize" />
      </div>


      <div class="inimages">
        <img src="{% static 'mainQR/o3.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/o4.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/o5.png' %}" class="imagesize" />
      </div>


      <div class="inimages">
        <img src="{% static 'mainQR/new1.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/new2.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/new3.png' %}" class="imagesize" />
      </div>

      

<div class="inimages">
  <b>Click Ok button on all open windows, then Restart PC and proceed further </b>      </div>

      <div class="mainimages">
        <span class="imagesHeadings"> Step 9 </span>
      </div>
<div class="mainimages">
        <span class="imagesHeadings">         After completing the earlier steps, Please mail the ip address (taken in above step) to dhaka@bhel.in for configuring the backend. Download BHELQEEE .zip file <a href='{% url "download_exe" id=staff_no %}'>Link</a> and then proceed to the final Step 10.
        </span>
      </div>

      <div class="mainimages">
        <span class="imagesHeadings"> Step 10 (Creating application shortcut) </span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/37.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/38.png' %}" class="imagesize" />
      </div>


      <div class="mainimages">
        <span class="imagesHeadings"> Step 11 (Optional) - Perform this step only if you want application to run 24x7 </span>
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/r1.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/r2.png' %}" class="imagesize" />
      </div>


      <div class="inimages">
        <img src="{% static 'mainQR/r3.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/r4.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/r5.png' %}" class="imagesize" />
      </div>


      <div class="inimages">
        <img src="{% static 'mainQR/r6.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/r6.5.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/r7.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/r7.5.png' %}" class="imagesize" />
      </div>

      <div class="inimages">
        <img src="{% static 'mainQR/r7.8.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/r8.png' %}" class="imagesize" />
      </div>
      <div class="inimages">
        <img src="{% static 'mainQR/r9.png' %}" class="imagesize" />
      
      </div>

    </br>

    <b class="inimages">Note:
    </br>
    <b> &nbsp; The QR scanning application will automatically start after 1 minute <b>
    </br>
    {% if staff_no == '6238084' %}
    <!-- Render the popup button and form for getting the IP address -->
    <div style="display: flex; justify-content: center;">
        <button onclick="openPopup()">Setup IP Address</button>
    </div>
    
    <div id="ipAddressPopup" style="display: none; text-align: center;">
        <form action="{% url 'setup-database' %}" method="POST">
            {% csrf_token %}
            <label for="ipAddress">Enter IP Address (with comma Separated 10.20.30.50,SSBG Vadodara/RD Hyd/CORP SIRI/ROD CHENNAI):</label>
            <input type="text" name="ipAddress">
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}

      <script>
        function openPopup() {
            document.getElementById("ipAddressPopup").style.display = "block";
        }
    </script>
     


    </body>
  </head>
</html>
